<a href="https://colab.research.google.com/github/scarface414/python-learnings/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**List Comprehension**

In [1]:
numbers = [1,2,5,6,7,14,19,22,23]
words = ['fox' , 'auto' , 'mobile' , 'anger' , 'assault']

#the following are the examples of list comprehension
newList1 = [ x for x in numbers if not x&1]
expo2 =   [ [x,x*x] for x in numbers]
test2 =   [ 2 **x  for x in numbers]
testset = [ 3**x for x in range(10)]
test =    [x for x in range(30) if not x&1] # the if in the ends selects only those words
newword = [ x.upper() if x.startswith('a') else x for x in words]

**MAP Funciton**

In [1]:
def square(x) :
    return x*x

numbers = [1,5,7,9]

newlist = [square(x) for x in numbers]
print(newlist)

newlist1 = map(square , numbers)
print(list(newlist1))

strlist = map(str , numbers)
print(list(strlist))


##ternary

number = 10000
print( "Number is very large" if number > 1000 else "number is large" if number > 100 else "number is small but positive" if number > 0 else "number is zero" if number == 0 else "Number is negative")

In [2]:
expo = lambda x : 2 ** x
minfunc = lambda x , y : x if x < y else y
msum = lambda *args : sum(args)

for x in range(10) :
    print(expo(x) , end = ' ')

print(minfunc(5,10))
print(msum(5,10,15,20))
print((lambda x : x ** 3)(5))

#this is one of the practical
nums = [1,3,5,7,18,22,31,46]
print(nums)

temp = list(filter(lambda x : x&1 , nums))
print(temp)

#filter function require a callable function as first parameter and second parameter as list
#so does a map function

squaredList = list(map(lambda x : x*x , nums))
print(squaredList)

#no need to define the function formally

#this is also a great use of the lambda and cross function
def multiplier(num) :
  return lambda x : x * num

tenMultiplier = multiplier(10)
print(list(map(tenMultiplier , nums)))

1 2 4 8 16 32 64 128 256 512 5
50
125
[1, 3, 5, 7, 18, 22, 31, 46]
[1, 3, 5, 7, 31]
[1, 9, 25, 49, 324, 484, 961, 2116]
[10, 30, 50, 70, 180, 220, 310, 460]

In [5]:
#how to swap numbers
#a , b , c , d = b , d , a , c

18 [18, 19, 26, 39] [10, 25, 16] [10, 25, 16, 18, 19, 26, 39]
[10, 25, 16, 18, 19]

In [14]:
templist = [10,25,16,18,19,26,39]
print(templist[3] , templist[3:] , templist[:3] , templist[:])
print(templist[:-2])

lastfour = templist[-4:]
print(lastfour)

lasttwo = slice(-2,None)
firstfour = slice(4)
afterfour = slice(4,None)

print(templist[lasttwo] , templist[firstfour] , templist[afterfour])

alternate = slice(None , None , 2)
print(templist[alternate])

18 [18, 19, 26, 39] [10, 25, 16] [10, 25, 16, 18, 19, 26, 39]
[10, 25, 16, 18, 19]
[18, 19, 26, 39]
[26, 39] [10, 25, 16, 18] [19, 26, 39]
[10, 16, 19, 39]

**Reverse String**

In [19]:
nums = [1,2,3,4,5,6,7,8]

for index in range(int(len(nums)/2)) :
    nums[index] , nums[len(nums)-1-index] = nums[len(nums)-1-index] , nums[index]

print(nums)

values = list(reversed(templist))
print(templist , values)
values.reverse()
print(values)

print(values[::-1] , values)

[10, 25, 16, 18, 19, 26, 39] [39, 26, 19, 18, 16, 25, 10]
[10, 25, 16, 18, 19, 26, 39]
[39, 26, 19, 18, 16, 25, 10] [10, 25, 16, 18, 19, 26, 39]

In [ ]:
name = "Nishith"
age = 25
cgpa = 8.410235

print("Hello my name is " + name + " and my age is " + str(age))
print("Hello my name is %s and my age is %d and my age is %.2f" %(name , age, cgpa))
print("Hello my name is {} and my age is {}".format(name,age))

print(f"Hello my name is {name} and my age is {age}")
print(f"Hello my name is {name} and my age is {age} and its an {'even' if not age&1 else 'odd'} number and my cgpa is {cgpa:.2f}")

In [ ]:
letters = ['a' , 'd' , 'c' , 'f' , 'b']
nums = [1,5,3,2,4]

print(dict(zip(letters , nums)))
print(list(zip(letters , nums)))